<!-- Contenido principal -->
<ion-header>
  <ion-toolbar class="custom-navbar">
    <ion-buttons slot="start">
      <!-- Botón de menú hamburguesa -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <img src="../../assets/JTS.jpg.jpeg" alt="Logo" class="navbar-image">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>