<ion-content>
  <!-- Contenedor para tarjetas con margen superior -->
  <div class="card-container">
    <!-- Tarjeta 1 con más detalles (con margen superior) -->
    <ion-card class="flex-card first-card">
      <div class="card-content">
        <!-- Imagen a la izquierda -->
        <div class="card-image-container">
          <img src="https://mexx-img-2019.s3.amazonaws.com/Gabinete-Mid-Tower-Thermaltake-View-200-TG-Vidrio-Templado-ARGB-Negro_44159_1.jpeg" alt="Imagen de ejemplo" class="responsive-image" />
        </div>

        <!-- Texto a la derecha -->
        <div class="card-text">
          <h2>Gabinete Mid Tower Thermaltake View 200 TG Vidrio Templado Argb Negro</h2>
          <p>Precio: $114.999</p>

          <!-- Botón para mostrar más detalles -->
          <ion-button expand="block" (click)="toggleDetails('details1')">Ver más</ion-button>

          <!-- Detalles del producto (inicialmente ocultos) -->
          <div id="details1" class="product-details" style="display: none;">
            <h3>Especificaciones del Producto</h3>
            <ul>
              <li><strong>Marca:</strong> Thermaltake</li>
              <li><strong>Modelo:</strong> View 200 TG ARGB</li>
              <li><strong>P/N:</strong> CA-1X3-00M1WN-00</li>
              <li><strong>EAN:</strong> 4713227533669</li>
              <li><strong>Formatos de mother compatibles:</strong> Mini ITX, Micro ATX, ATX</li>
              <li><strong>Color Exterior:</strong> Negro</li>
              <li><strong>Color Interior:</strong> Negro</li>
              <li><strong>Ventana:</strong> Sí</li>
              <li><strong>Fuente:</strong> No</li>
              <li><strong>Display:</strong> No</li>
              <li><strong>USB:</strong> 3.0 x 2</li>
              <li><strong>Audio/Mic:</strong> HD Audio x 1</li>
              <li><strong>Card Reader:</strong> No</li>
              <li><strong>Ubicación de la fuente:</strong> Abajo</li>
              <li><strong>Ubicación de botones:</strong> Superior</li>
              <li><strong>Iluminación:</strong> RGB (Control remoto)</li>
              <li><strong>Coolers incluidos:</strong> 3x ventiladores 120 x 120 x 25 mm ARGB Lite (1000rpm, 22.3 dBA)</li>
              <li><strong>Compatibilidad de ventiladores:</strong> Frontal 3 x 120mm, 2 x 120mm, 1 x 120mm o 2 x 140mm, 1 x 140mm, Superior 2 x 120mm, 1 x 120mm o 2 x 140mm, 1 x 140mm, Trasera</li>
              <li><strong>Compatibilidad radiadores:</strong> Frontal</li>
              <li><strong>Bahías Ext. 5 1/4:</strong> No</li>
              <li><strong>Bahías Ext. 3 1/2:</strong> No</li>
              <li><strong>Tamaño máximo placa de video:</strong> 300mm con radiador / 330mm sin radiador</li>
              <li><strong>Altura máxima CPU cooler:</strong> 166mm</li>
              <li><strong>Bahías Int.:</strong> 2 x 3.5", 2 x 2.5" o 1 x 3.5", 3 x 2.5"</li>
              <li><strong>Expansiones PCIe:</strong> 7</li>
              <li><strong>Watercooling:</strong> Sí</li>
              <li><strong>Dimensiones:</strong> 460 x 210 x 395.3 mm</li>
              <li><strong>Peso:</strong> 5.1 kg</li>
            </ul>
          </div>
        </div>
      </div>
    </ion-card>
    
  </div>
  
  <!-- Otra tarjeta sin margen superior -->
  <ion-card class="flex-card">
    <div class="card-content">
      <!-- Imagen a la izquierda -->
      <div class="card-image-container">
        <img src="https://http2.mlstatic.com/D_NQ_NP_800595-MLA74806227973_022024-O.webp" alt="Imagen de ejemplo" class="responsive-image" />
      </div>

      <!-- Texto a la derecha -->
      <div class="card-text">
        <h2>MPLACA DE VIDEO GEFORCE RTX 4060 TI 8GB GIGABYTE EAGLE</h2>
        <p>Precio: $479,189.97</p>

        <!-- Botón para mostrar más detalles -->
        <ion-button expand="block" (click)="toggleDetails('details2')">Ver más</ion-button>

        <!-- Detalles del producto (inicialmente ocultos) -->
        <div id="details2" class="product-details" style="display: none;">
          <h3>Especificaciones del Producto</h3>
  <ul>
    <li><strong>Marca:</strong> ASUS</li>
    <li><strong>Modelo:</strong> Dual GeForce RTX 4060 Ti EVO OC Edition 8GB GDDR6</li>
    <li><strong>P/N:</strong> DUAL-RTX4060TI-O8G-EVO</li>
    <li><strong>UPC:</strong> 197105459243</li>
    <li><strong>EAN:</strong> 4711387459249</li>
    <li><strong>Chipset:</strong> NVIDIA GeForce RTX 4060 Ti</li>
    <li><strong>Coolers:</strong> 2</li>
    <li><strong>PCI Express:</strong> PCIe 4.0</li>
    <li><strong>DirectX:</strong> 12</li>
    <li><strong>OpenGL:</strong> 4.6</li>
    <li><strong>Memoria:</strong> GDDR6 8GB</li>
    <li><strong>Bits:</strong> 128</li>
    <li><strong>CUDA Cores:</strong> 4352</li>
    <li><strong>Core Clock:</strong> OC mode 2595 MHz, Default mode 2565 MHz (Boost)</li>
    <li><strong>Mem Clock:</strong> 18 Gbps</li>
    <li><strong>Alimentación:</strong> 1 x 8-pin</li>
    <li><strong>Fuente óptima:</strong> 550W</li>
    <li><strong>VGA:</strong> No</li>
    <li><strong>DVI:</strong> No</li>
    <li><strong>HDMI:</strong> 1</li>
    <li><strong>Display Port:</strong> 3</li>
    <li><strong>Máximos displays soportados:</strong> 4</li>
    <li><strong>Perfil Bajo:</strong> No</li>
    <li><strong>Backplate:</strong> Sí</li>
    <li><strong>Dimensiones:</strong> 227.2 x 123.24 x 49.6 mm</li>
    <li><strong>Slots PCI-e:</strong> 2.5</li>
    <li><strong>Iluminación:</strong> No</li>
  </ul>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
