<!-- Imagen anclada en la parte superior -->

<ion-content>
  <div class="sticky-image">
    <img src="../../assets/RTX40.jpg" alt="Imagen de tarjeta gráfica" />
  </div>

  <!-- Tarjeta 1 con más detalles -->
  <ion-card class="flex-card">
    <div class="card-content">
      <!-- Imagen a la izquierda -->
      <div class="card-image-container">
        <img
          src="https://acdn.mitiendanube.com/stores/001/397/378/products/d_924673-mla53682348100_022023-f-8660b2edc4ca7e500417056879742451-1024-1024.jpg"
          alt="Imagen de ejemplo" class="responsive-image" />
      </div>

      <!-- Texto a la derecha -->
      <div class="card-text">
        <h2>Memoria Ram DDR5 - 16Gb 5600 Mhz Kingston Fury Beast Rgb</h2>
        <p>Precio: $78.999</p>

        <!-- Botón para mostrar más detalles -->
        <ion-button expand="block" (click)="toggleDetails('details1')">Ver más</ion-button>

        <!-- Detalles del producto (inicialmente ocultos) -->
        <div id="details1" class="product-details" style="display: none;">
          <h3>Especificaciones del Producto</h3>
  <ul>
    <li><strong>Marca:</strong> Kingston</li>
    <li><strong>Línea:</strong> FURY Beast DDR5 RGB</li>
    <li><strong>Modelo:</strong> KF556C40BBA-16</li>
    <li><strong>UPC:</strong> 740617328585</li>
    <li><strong>Tipo:</strong> DDR5 SDRAM</li>
    <li><strong>Latencia:</strong> CL40</li>
    <li><strong>Voltaje:</strong> 1.25V</li>
    <li><strong>Capacidad:</strong> 16GB</li>
    <li><strong>Velocidad:</strong> 5600 MT/s</li>
    <li><strong>Tecnología:</strong> DDR5</li>
    <li><strong>Aplicación:</strong> PC de escritorio</li>
    <li><strong>Color:</strong> Negro</li>
    <li><strong>Disipador:</strong> Sí</li>
    <li><strong>Iluminación:</strong> RGB</li>
  </ul>
        </div>
      </div>
    </div>
  </ion-card>


  <!-- Tarjeta 2 con más detalles -->
  <ion-card class="flex-card">
    <div class="card-content">
      <!-- Imagen a la izquierda -->
      <div class="card-image-container">
        <img
          src="https://mexx-img-2019.s3.amazonaws.com/Placa-Video-Radeon-RX-7700-XT-12Gb-Asus-Dual-Oc_48281_1.jpeg"
          alt="Imagen de ejemplo" />
      </div>

      <!-- Texto a la derecha -->
      <div class="card-text">
        <h2>Placa De Video Radeon RX 7700 XT 12Gb Asus Dual Oc
        </h2>
        <p>Precio: $656.549</p>

        <!-- Botón para mostrar más detalles -->
        <ion-button expand="block" (click)="toggleDetails('details2')">Ver más</ion-button>

        <!-- Detalles del producto (inicialmente ocultos) -->
        <div id="details2" class="product-details" style="display: none;">
          <h3>Especificaciones del Producto</h3>
  <ul>
    <li><strong>Marca:</strong> ASUS</li>
    <li><strong>Modelo:</strong> Dual Radeon RX 7700 XT OC Edition 12GB GDDR6</li>
    <li><strong>P/N:</strong> DUAL-RX7700XT-O12G</li>
    <li><strong>UPC:</strong> 197105430334</li>
    <li><strong>EAN:</strong> 4711387430330</li>
    <li><strong>Chipset:</strong> AMD Radeon RX 7700 XT</li>
    <li><strong>Coolers:</strong> Dual Fan</li>
    <li><strong>PCI Express:</strong> PCI Express 4.0</li>
    <li><strong>DirectX:</strong> 12 Ultimate</li>
    <li><strong>OpenGL:</strong> OpenGL 4.6</li>
    <li><strong>Memoria:</strong> 12GB GDDR6</li>
    <li><strong>Bits:</strong> 192-bit</li>
    <li><strong>Stream Processors:</strong> 3456</li>
    <li><strong>Core Clock:</strong> OC mode hasta 2599 MHz (Boost), hasta 2239 MHz (Game) / Default mode hasta 2584 MHz (Boost), hasta 2226 MHz (Game)</li>
    <li><strong>Mem Clock:</strong> 18 Gbps</li>
    <li><strong>Alimentación:</strong> 2 x 8-pin</li>
    <li><strong>Fuente óptima:</strong> 750W</li>
    <li><strong>VGA:</strong> No</li>
    <li><strong>DVI:</strong> No</li>
    <li><strong>HDMI:</strong> 1 x HDMI 2.1</li>
    <li><strong>Display Port:</strong> 3 x DisplayPort 2.1</li>
    <li><strong>Máximos displays soportados:</strong> 4</li>
    <li><strong>Perfil Bajo:</strong> No</li>
    <li><strong>Backplate:</strong> No especificado</li>
    <li><strong>Dimensiones:</strong> 279.9 x 133.9 x 49.3 mm</li>
    <li><strong>Slots PCI-e:</strong> 2.47 slot</li>
    <li><strong>Iluminación:</strong> No</li>
  </ul>
        </div>
      </div>
    </div>
  </ion-card>

  <ion-card class="flex-card">
    <div class="card-content">
      <!-- Imagen a la izquierda -->
      <div class="card-image-container">
        <img
          src="https://fullh4rd.com.ar/img/productos/1/micro-amd-ryzen-5-5600gt-cvideo-ccooler-am4-reemplaza-al-5600g-0.jpg"
          alt="Imagen de ejemplo" />
      </div>

      <!-- Texto a la derecha -->
      <div class="card-text">
        <h2>Procesador Amd Ryzen 5 5600GT 4.6 Ghz - AM4</h2>
        <p>Precio: $182.529</p>

        <!-- Botón para mostrar más detalles -->
        <ion-button expand="block" (click)="toggleDetails('details3')">Ver más</ion-button>

        <!-- Detalles del producto (inicialmente ocultos) -->
        <div id="details3" class="product-details" style="display: none;">
          <h3>Especificaciones del Producto</h3>
          <ul>
            <li><strong>Marca:</strong> AMD</li>
            <li><strong>Línea:</strong> Ryzen 5</li>
            <li><strong>Modelo:</strong> 5600GT</li>
            <li><strong>P/N:</strong> 100-100001488BOX</li>
            <li><strong>UPC:</strong> 730143316002</li>
            <li><strong>GPU Integrado:</strong> Radeon Graphics</li>
            <li><strong>Caché:</strong> 16 MB</li>
            <li><strong>Cantidad de núcleos de CPU:</strong> 6</li>
            <li><strong>Hilos:</strong> 12</li>
            <li><strong>Tipos de memoria RAM soportadas:</strong> DDR4</li>
            <li><strong>Socket:</strong> AM4</li>
            <li><strong>Frecuencia mínima de reloj:</strong> 3.6 GHz</li>
            <li><strong>Frecuencia máxima de reloj:</strong> Hasta 4.6 GHz</li>
            <li><strong>Desbloqueado para OC:</strong> Sí</li>
            <li><strong>Accesorios incluidos:</strong> Air cooler AMD Wraith</li>
            <li><strong>TDP/TDP predeterminado:</strong> 65W</li>
            <li><strong>AMD Configurable TDP (cTDP):</strong> 45-65W</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>