<ion-app>
  <!-- Menú lateral (hamburguesa) -->
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- Elementos del menú -->
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  
  
  <!-- Aquí se cargan las páginas o contenido principal -->
  <ion-content id="main-content">
    <app-navbar></app-navbar>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
